/* Variables */
:root {
  --clr-primary: #ee1c1c;
  --clr-secondary: #000272;
  --clr-white: whitesmoke;
  --clr-black: #111111;
  --ff-text: "Open Sans", sans-serif;
  --ff-heading: "Kanit", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}

/* GLOBAL*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-white);
  font-family: var(--ff-text);
  color: var(--clr-secondary);
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 5rem;
  font-weight: 300;
}

h1,h2 {
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-heading);
  font-weight: 600;
  text-align: center;
  color: var(--clr-primary);
}

h1 {
  font-size: 3rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 2rem;
}

p, label {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

label {
  font-weight: 600;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2
  {
    line-height: 1;
  }
}

/* GLOBAL CLASSES */

.btn {
  text-transform: uppercase;
  background: var(--clr-white);
  color: var(--clr-primary);
  padding: 1rem 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 600;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 1px solid var(--clr-primary);
  cursor: pointer;
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-white);
  background: var(--clr-primary);
}

.btn-center {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

.container {
  padding: 4rem 0;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .container {
    width: 95vw;
  }
}

.main.active, .modal.active {
  display: grid;
  place-items: center;
  height: 90vh;
}

/* MAIN */

.main{
  display: none;
}

/*HEADER*/

.header-text {

  text-align: center;
}

.header-text.bold {
  font-weight: 600;
}

/* PACKAGE FORM */

.package-form {
  display: grid;
  place-items: center;
}

.package-form-wrapper {
  text-align: center;
  width: 90vw;
  max-width: 50rem;
}
.form-grid {
  display: none;
}
.form-grid.active {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 820px){
  .form-grid.active {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }


}

.input-group {
  padding: 1rem 0;
}

.form-control {
  display: block;
  font-weight: 600;
  width: 100%;
  padding: 1.25rem 1rem;
  border: 1px solid var(--clr-secondary);
  margin-top: 1.25rem;
  background: var(--clr-white);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  text-align: center;
}

.form-control:focus {
  box-shadow: var(--dark-shadow);
}

.form-control::placeholder {
  font-family: var(--ff-text);
  color: var(--clr-black);
  text-transform: uppercase;
  letter-spacing: var(--spacing);

}
.form-error-msg{
  display: none;
}
.form-error-msg.active{
  display: block;
  margin-top: 1.5rem;
  color: var(--clr-primary);
  font-weight: 600;
}

.btn-submit {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* MODAL */

.modal {
  display: none;
}

.modal-wrapper {
  text-align: center;
  width: 90vw;
  max-width: 35rem;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.modal-title{
  margin: 3rem 0;
}

.modal-text:first-of-type {
  font-weight: 600;
}

.modal-text:first-of-type span {
  color: var(--clr-primary)
}

.modal-button-wrapper {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.btn-modal:nth-of-type(1) {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.btn-modal:nth-of-type(2) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
